<div class="col-md-2">
    <div class="clearfix">
        <ul class="dropdown-menu dropdown-menu-category dropdown-menu-category-hold dropdown-menu-category-sm">
            <li><a href="#"><i class="fa fa-home dropdown-menu-category-icon"></i>Home & Garden</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Home & Garden</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Home</a>
                                            <p>Condimentum varius tempus at dolor</p>
                                        </li>
                                        <li><a href="#">Kitchen</a>
                                            <p>Ut nostra laoreet ridiculus per</p>
                                        </li>
                                        <li><a href="#">Furniture & Decor</a>
                                            <p>Diam posuere ullamcorper habitant justo</p>
                                        </li>
                                        <li><a href="#">Bedding & Bath</a>
                                            <p>Sollicitudin duis porta phasellus fusce</p>
                                        </li>
                                        <li><a href="#">Appilances</a>
                                            <p>Risus ut sem cras dictumst</p>
                                        </li>
                                        <li><a href="#">Patio, Lawn & Garden</a>
                                            <p>Rutrum cum potenti mollis ligula</p>
                                        </li>
                                        <li><a href="#">Wedding Registry</a>
                                            <p>Mollis aliquam lacinia pharetra fermentum</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Home Improvement</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Home Improvement</a>
                                            <p>Nec vehicula parturient habitant facilisis</p>
                                        </li>
                                        <li><a href="#">Lamps & Light Fixtures</a>
                                            <p>Platea consequat venenatis phasellus quam</p>
                                        </li>
                                        <li><a href="#">Kitchen & Bath Fixtures</a>
                                            <p>Eu a placerat primis tellus</p>
                                        </li>
                                        <li><a href="#">Home Automation</a>
                                            <p>Sem rutrum posuere class eleifend</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/2.png" alt="Image Alternative text" title="Image Title" style="right: -10px;" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-diamond dropdown-menu-category-icon"></i>Jewelry</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Jewelry</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Necklances & Pendants</a>
                                            <p>Ut euismod pharetra nulla nullam</p>
                                        </li>
                                        <li><a href="#">Bracelets</a>
                                            <p>Nascetur sociis sed sed conubia</p>
                                        </li>
                                        <li><a href="#">Rings</a>
                                            <p>Eu cras velit at enim</p>
                                        </li>
                                        <li><a href="#">Errings</a>
                                            <p>Litora amet viverra leo consequat</p>
                                        </li>
                                        <li><a href="#">Wedding & Engagement</a>
                                            <p>Molestie vestibulum class velit inceptos</p>
                                        </li>
                                        <li><a href="#">Charms</a>
                                            <p>Nostra ullamcorper faucibus commodo ad</p>
                                        </li>
                                        <li><a href="#">Booches</a>
                                            <p>Consequat aliquam nostra rhoncus laoreet</p>
                                        </li>
                                        <li><a href="#">Men's Jewelry</a>
                                            <p>Lobortis ipsum venenatis augue libero</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Jewelry Shops</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Contemporary & Designer</a>
                                            <p>Libero dis rhoncus fringilla dui</p>
                                        </li>
                                        <li><a href="#">Juniors</a>
                                            <p>Nam praesent vel pellentesque ornare</p>
                                        </li>
                                        <li><a href="#">Meternity</a>
                                            <p>Ornare parturient erat mus rutrum</p>
                                        </li>
                                        <li><a href="#">Pettite</a>
                                            <p>Euismod vivamus tempor sociosqu dignissim</p>
                                        </li>
                                        <li><a href="#">Uniforms, Works & Safety</a>
                                            <p>Facilisi porttitor aenean donec dapibus</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/3.png" alt="Image Alternative text" title="Image Title" style="right: -10px; bottom: -10px;" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-child dropdown-menu-category-icon"></i>Toy & Kids</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Kids Clothing</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Accessories</a>
                                            <p>Nullam augue placerat augue pulvinar</p>
                                        </li>
                                        <li><a href="#">Active Wear</a>
                                            <p>Dolor lobortis vivamus ornare conubia</p>
                                        </li>
                                        <li><a href="#">Coats & Jackets</a>
                                            <p>Tortor gravida lacus arcu sem</p>
                                        </li>
                                        <li><a href="#">Jeans</a>
                                            <p>Cum platea pretium nascetur suspendisse</p>
                                        </li>
                                        <li><a href="#">Sets</a>
                                            <p>Metus gravida vulputate lectus mattis</p>
                                        </li>
                                        <li><a href="#">Indoors</a>
                                            <p>Nunc lectus hendrerit quis sem</p>
                                        </li>
                                        <li><a href="#">Swimwear</a>
                                            <p>Quisque nisi suscipit nibh eu</p>
                                        </li>
                                        <li><a href="#">Special Occasion</a>
                                            <p>Nostra torquent dolor suspendisse iaculis</p>
                                        </li>
                                        <li><a href="#">Shoes</a>
                                            <p>Lobortis hac sociosqu habitasse pharetra</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">More For Kids</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Kids Furniture</a>
                                            <p>Etiam ante mauris congue phasellus</p>
                                        </li>
                                        <li><a href="#">Kids Jewelry & Watches</a>
                                            <p>Sollicitudin fringilla suspendisse risus auctor</p>
                                        </li>
                                        <li><a href="#">Toys & Games</a>
                                            <p>Risus metus fames auctor faucibus</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/4.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-plug dropdown-menu-category-icon"></i>Electronics</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Electronics</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">TV & Video</a>
                                            <p>Dignissim litora placerat tristique ligula</p>
                                        </li>
                                        <li><a href="#">Home Audio & Theater</a>
                                            <p>Viverra erat aenean justo augue</p>
                                        </li>
                                        <li><a href="#">Camera, Photo & Video</a>
                                            <p>Nunc ornare per lobortis curabitur</p>
                                        </li>
                                        <li><a href="#">Cell Phones & Accessories</a>
                                            <p>Eleifend facilisi himenaeos penatibus quis</p>
                                        </li>
                                        <li><a href="#">Headphones</a>
                                            <p>Tristique massa massa placerat natoque</p>
                                        </li>
                                        <li><a href="#">Video Games</a>
                                            <p>Class mi viverra turpis sollicitudin</p>
                                        </li>
                                        <li><a href="#">Gar Electronics</a>
                                            <p>Augue conubia vulputate vulputate viverra</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Computers</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Laptops & Tablets</a>
                                            <p>Bibendum laoreet elit nisl felis</p>
                                        </li>
                                        <li><a href="#">Desktops & Monitors</a>
                                            <p>Fermentum sit ridiculus sapien elementum</p>
                                        </li>
                                        <li><a href="#">Computer Accessories</a>
                                            <p>Libero sodales volutpat facilisi fusce</p>
                                        </li>
                                        <li><a href="#">Software</a>
                                            <p>Ornare tempor at donec mollis</p>
                                        </li>
                                        <li><a href="#">Printers & Ink</a>
                                            <p>Turpis penatibus etiam hac auctor</p>
                                        </li>
                                        <li><a href="#">Networking</a>
                                            <p>Per est libero senectus dictum</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/5.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-tags dropdown-menu-category-icon"></i>Clothes & Shoes</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">TheBox Fashion</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Woman</a>
                                            <p>Inceptos pellentesque cras sagittis imperdiet</p>
                                        </li>
                                        <li><a href="#">Men</a>
                                            <p>Fermentum luctus nisi libero facilisi</p>
                                        </li>
                                        <li><a href="#">Girls</a>
                                            <p>Semper dignissim faucibus turpis nulla</p>
                                        </li>
                                        <li><a href="#">Boys</a>
                                            <p>Penatibus dictum accumsan taciti non</p>
                                        </li>
                                        <li><a href="#">Baby</a>
                                            <p>Rutrum vel accumsan conubia fusce</p>
                                        </li>
                                        <li><a href="#">Luggage</a>
                                            <p>Nascetur aliquam sed nascetur donec</p>
                                        </li>
                                        <li><a href="#">Accessories</a>
                                            <p>In pulvinar phasellus posuere at</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/6.png" alt="Image Alternative text" title="Image Title" style="right: -20px;" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-futbol-o dropdown-menu-category-icon"></i>Sports</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Sports</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Athletic Clothing</a>
                                            <p>Metus integer justo mauris elit</p>
                                        </li>
                                        <li><a href="#">Exorcise & Fitness</a>
                                            <p>Vehicula dictumst potenti mattis aliquet</p>
                                        </li>
                                        <li><a href="#">Hunting & Fishing</a>
                                            <p>Habitant convallis interdum tortor quam</p>
                                        </li>
                                        <li><a href="#">Team Sports</a>
                                            <p>Primis mi eleifend proin viverra</p>
                                        </li>
                                        <li><a href="#">Fan Sports</a>
                                            <p>Venenatis etiam cum taciti felis</p>
                                        </li>
                                        <li><a href="#">Golf</a>
                                            <p>Proin fringilla sociosqu per sociis</p>
                                        </li>
                                        <li><a href="#">Sports Collections</a>
                                            <p>Convallis taciti nullam euismod torquent</p>
                                        </li>
                                        <li><a href="#">Camping & Hiking</a>
                                            <p>Lacus et fermentum libero maecenas</p>
                                        </li>
                                        <li><a href="#">Cycling</a>
                                            <p>Dui ornare cursus mattis mi</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/7.png" alt="Image Alternative text" title="Image Title" style="right: -39px;" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-music dropdown-menu-category-icon"></i>Entertaiment</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Entertaiment</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Video Games & Consoles</a>
                                            <p>Magna suspendisse lorem semper nascetur</p>
                                        </li>
                                        <li><a href="#">Music</a>
                                            <p>Torquent sociosqu dictum blandit condimentum</p>
                                        </li>
                                        <li><a href="#">DVD & Movies</a>
                                            <p>Nec dolor rutrum sociosqu curae</p>
                                        </li>
                                        <li><a href="#">Tickets</a>
                                            <p>Vivamus taciti ut montes condimentum</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Memorabilia</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Autographs</a>
                                        </li>
                                        <li><a href="#">Movie</a>
                                        </li>
                                        <li><a href="#">Music</a>
                                        </li>
                                        <li><a href="#">Television</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/9.png" alt="Image Alternative text" title="Image Title" style="right: -27px;" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-location-arrow dropdown-menu-category-icon"></i>Travel</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Travel Equepment</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Luggage</a>
                                            <p>Aptent pulvinar duis pharetra natoque</p>
                                        </li>
                                        <li><a href="#">Travel Accessories</a>
                                            <p>Commodo convallis eu convallis habitasse</p>
                                        </li>
                                        <li><a href="#">Luggage Accessories</a>
                                            <p>Rhoncus adipiscing velit habitant blandit</p>
                                        </li>
                                        <li><a href="#">Lodging</a>
                                            <p>Maecenas rhoncus lacus nam rhoncus</p>
                                        </li>
                                        <li><a href="#">Maps</a>
                                            <p>Ridiculus laoreet curae litora porttitor</p>
                                        </li>
                                        <li><a href="#">Other Travel</a>
                                            <p>Potenti habitant pellentesque ridiculus congue</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Booking</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Vacation Packages</a>
                                            <p>Commodo velit porta venenatis tempus</p>
                                        </li>
                                        <li><a href="#">Campground & RV</a>
                                            <p>Libero porta consectetur pellentesque primis</p>
                                        </li>
                                        <li><a href="#">Rail</a>
                                            <p>Magna ultrices tristique torquent facilisis</p>
                                        </li>
                                        <li><a href="#">Car Rental</a>
                                            <p>Dui neque mi sodales fusce</p>
                                        </li>
                                        <li><a href="#">Cruises</a>
                                            <p>Cursus primis fusce cubilia nulla</p>
                                        </li>
                                        <li><a href="#">Airline</a>
                                            <p>Commodo malesuada vestibulum justo praesent</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/11.png" alt="Image Alternative text" title="Image Title" style="right: -100px;" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-picture-o dropdown-menu-category-icon"></i>Art & Design</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Art</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Paintings from Dealers & Resellers</a>
                                            <p>Morbi pellentesque mi dignissim donec</p>
                                        </li>
                                        <li><a href="#">Paintings Direct from Artist</a>
                                            <p>Mus justo nisl porta mattis</p>
                                        </li>
                                        <li><a href="#">Art Prints</a>
                                            <p>Aptent mus pretium suspendisse turpis</p>
                                        </li>
                                        <li><a href="#">Art Photographs from Resellers</a>
                                            <p>Cras mauris leo vehicula vehicula</p>
                                        </li>
                                        <li><a href="#">Art Photographs from the Artist</a>
                                            <p>Sapien nulla odio auctor ridiculus</p>
                                        </li>
                                        <li><a href="#">Art Posters</a>
                                            <p>Egestas velit congue dapibus nibh</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Design</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Home Decor Decals</a>
                                            <p>Hendrerit curabitur donec neque sociis</p>
                                        </li>
                                        <li><a href="#">Furniture</a>
                                            <p>Sapien nisi mi sociis convallis</p>
                                        </li>
                                        <li><a href="#">Wallpapers</a>
                                            <p>Nascetur etiam feugiat quam sociis</p>
                                        </li>
                                        <li><a href="#">Bar Flasks</a>
                                            <p>Diam sagittis quis non arcu</p>
                                        </li>
                                        <li><a href="#">Posters & Prints</a>
                                            <p>Dictumst proin nulla etiam volutpat</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/12.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Motors</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Motors</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Parts & Accessories</a>
                                            <p>Rutrum bibendum phasellus cursus magnis</p>
                                        </li>
                                        <li><a href="#">Cars & Trucks</a>
                                            <p>Praesent nisi dictumst velit proin</p>
                                        </li>
                                        <li><a href="#">Motorcycles</a>
                                            <p>Tempus accumsan ridiculus taciti tempor</p>
                                        </li>
                                        <li><a href="#">Passenger Vehicles</a>
                                            <p>Consequat aliquam felis lacinia lorem</p>
                                        </li>
                                        <li><a href="#">Industry Vehicles</a>
                                            <p>Feugiat semper taciti montes quam</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Brands</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">BMW</a>
                                        </li>
                                        <li><a href="#">Land Rover</a>
                                        </li>
                                        <li><a href="#">Nissan</a>
                                        </li>
                                        <li><a href="#">Honda</a>
                                        </li>
                                        <li><a href="#">Ford</a>
                                        </li>
                                        <li><a href="#">Porsche</a>
                                        </li>
                                        <li><a href="#">Audi</a>
                                        </li>
                                        <li><a href="#">Mercedes-Benz</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/13.png" alt="Image Alternative text" title="Image Title" style="right: -15px; bottom: -15px;" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-paw dropdown-menu-category-icon"></i>Pets</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <h5 class="dropdown-menu-category-title">Pet Supplies</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Backyard Poultry Supplies</a>
                                            <p>Imperdiet proin id hac commodo</p>
                                        </li>
                                        <li><a href="#">Bird Supplies</a>
                                            <p>Id sed fermentum vivamus morbi</p>
                                        </li>
                                        <li><a href="#">Cat Supplies</a>
                                            <p>Auctor aliquet enim blandit curabitur</p>
                                        </li>
                                        <li><a href="#">Dog Supplies</a>
                                            <p>Commodo nunc feugiat mattis non</p>
                                        </li>
                                        <li><a href="#">Pet Memorials & Urns</a>
                                            <p>Fringilla conubia consectetur curabitur bibendum</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Fish & Aquariums</a>
                                            <p>Semper laoreet sociis class enim</p>
                                        </li>
                                        <li><a href="#">Horse Supplies</a>
                                            <p>Leo eget blandit rhoncus nisl</p>
                                        </li>
                                        <li><a href="#">Reptile Supplies</a>
                                            <p>Libero eu dui torquent bibendum</p>
                                        </li>
                                        <li><a href="#">Small Animal Supplies</a>
                                            <p>Integer urna rhoncus duis pellentesque</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Wholesale Lots</a>
                                            <p>Quisque donec ligula rhoncus ante</p>
                                        </li>
                                        <li><a href="#">Other Pet Supplies</a>
                                            <p>Pharetra tincidunt velit orci cras</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/14.png" alt="Image Alternative text" title="Image Title" style="right: -15px;" />
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-cubes dropdown-menu-category-icon"></i>Hobbies & DIY</a>
                <div class="dropdown-menu-category-section">
                    <div class="dropdown-menu-category-section-inner">
                        <div class="dropdown-menu-category-section-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="dropdown-menu-category-title">Hobby & DIY</h5>
                                    <ul class="dropdown-menu-category-list">
                                        <li><a href="#">Model & Kit Tools</a>
                                            <p>Nec ante fames tristique feugiat</p>
                                        </li>
                                        <li><a href="#">Supplies & Engines</a>
                                            <p>Felis duis tellus et mattis</p>
                                        </li>
                                        <li><a href="#">RC Airline & Helicopter</a>
                                            <p>Enim erat cras vitae tempor</p>
                                        </li>
                                        <li><a href="#">RC Car, Truck & motorcycle</a>
                                            <p>Cubilia cubilia mus at conubia</p>
                                        </li>
                                        <li><a href="#">Military Airline Models & Kits</a>
                                            <p>A nisi eu fames varius</p>
                                        </li>
                                        <li><a href="#">Craft Airbrushing Supplies</a>
                                            <p>Varius magnis et pharetra urna</p>
                                        </li>
                                        <li><a href="#">Card Making Supplies</a>
                                            <p>Dictum consequat lacinia interdum facilisi</p>
                                        </li>
                                        <li><a href="#">Craft Sewing</a>
                                            <p>Leo tristique pretium felis fusce</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/15.png" alt="Image Alternative text" title="Image Title" style="height: 100%;" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
