

    <div class="global-wrapper clearfix" id="global-wrapper">
        <div class="demo_changer" id="demo_changer">
            <div class="demo-icon fa fa-sliders"></div>
            <div class="form_holder">
                <div class="line"></div>
                <p>Color Scheme</p>
                <div class="predefined_styles" id="styleswitch_area">
                    <a class="styleswitch" href="contactc392.html?default=true" style="background:#486D97;"></a>
                    <a class="styleswitch" href="#" data-src="bright-turquoise" style="background:#0EBCF2;"></a>
                    <a class="styleswitch" href="#" data-src="turkish-rose" style="background:#B66672;"></a>
                    <a class="styleswitch" href="#" data-src="salem" style="background:#12A641;"></a>
                    <a class="styleswitch" href="#" data-src="hippie-blue" style="background:#4F96B6;"></a>
                    <a class="styleswitch" href="#" data-src="mandy" style="background:#E45E66;"></a>
                    <a class="styleswitch" href="#" data-src="green-smoke" style="background:#96AA66;"></a>
                    <a class="styleswitch" href="#" data-src="horizon" style="background:#5B84AA;"></a>
                    <a class="styleswitch" href="#" data-src="cerise" style="background:#CA2AC6;"></a>
                    <a class="styleswitch" href="#" data-src="brick-red" style="background:#cf315a;"></a>
                    <a class="styleswitch" href="#" data-src="de-york" style="background:#74C683;"></a>
                    <a class="styleswitch" href="#" data-src="shamrock" style="background:#30BBB1;"></a>
                    <a class="styleswitch" href="#" data-src="studio" style="background:#7646B8;"></a>
                    <a class="styleswitch" href="#" data-src="leather" style="background:#966650;"></a>
                    <a class="styleswitch" href="#" data-src="denim" style="background:#1A5AE4;"></a>
                    <a class="styleswitch" href="#" data-src="scarlet" style="background:#FF1D13;"></a>
                </div>
                <div class="line"></div>
                <p>Layout</p>
                <div class="predefined_styles"><a class="btn btn-xs" href="#" id="btn-wide">Wide</a>&nbsp;&nbsp;<a class="btn btn-xs" href="#" id="btn-boxed">Boxed</a>
                </div>
                <div class="line"></div>
                <p>Background Patterns</p>
                <div class="predefined_styles" id="patternswitch_area">
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/binding_light.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/binding_dark.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/dark_fish_skin.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/dimension.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/escheresque_ste.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/food.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/giftly.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/grey_wash_wall.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/ps_neutral.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/pw_maze_black.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/pw_pattern.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/simple_dashed.png);"></a>
                </div>
                <div class="line"></div>
                <p>Background Images</p>
                <div class="predefined_styles" id="bgimageswitch_area">
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/bike.jpg);" data-src="img/backgrounds/bike.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/flowers.jpg);" data-src="img/backgrounds/flowers.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/wood.jpg);" data-src="img/backgrounds/wood.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/taxi.jpg);" data-src="img/backgrounds/taxi.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/phone.jpg);" data-src="img/backgrounds/phone.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/road.jpg);" data-src="img/backgrounds/road.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/keyboard.jpg);" data-src="img/backgrounds/keyboard.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/beach.jpg);" data-src="img/backgrounds/beach.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/street.jpg);" data-src="img/backgrounds/street.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/nature.jpg);" data-src="img/backgrounds/nature.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/bridge.jpg);" data-src="img/backgrounds/bridge.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/cameras.jpg);" data-src="img/backgrounds/cameras.jpg"></a>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <%= render 'header' %>


        <div class="container">
            <header class="page-header">
                <h1 class="page-title">Contact Us</h1>
            </header>
            <div class="row">
                <div class="col-md-9">
                    <p class="lead">Imperdiet lobortis amet eu sapien bibendum pharetra nam dis magna class magna at ridiculus mi turpis himenaeos molestie porta curae nec taciti sem blandit pellentesque habitasse nisi aliquet bibendum commodo</p>
                </div>
            </div>
            <div class="gap gap-small"></div>
            <div class="row" data-gutter="60">
                <div class="col-md-5">
                    <h3 class="widget-title">Leave a Message</h3>
                    <p class="text-muted">Etiam suscipit semper porta nam tempor fringilla eleifend per velit nibh faucibus feugiat lacus auctor adipiscing purus cubilia proin vel</p>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Send a Message" />
                    </form>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="widget-title">Usa</h3>
                            <ul class="contact-list">
                                <li>
                                    <h5>Email</h5><a href="#">usa@thebox.com</a>
                                </li>
                                <li>
                                    <h5>Phone Number</h5>
                                    <p>+1-202-555-0191</p>
                                </li>
                                <li>
                                    <h5>Skype</h5>
                                    <p>TheBoxUs</p>
                                </li>
                                <li>
                                    <h5>Address</h5><address>795 Folsom Ave, Suite 600<br />San Francisco, CA 94107</address>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="widget-title">France</h3>
                            <ul class="contact-list">
                                <li>
                                    <h5>Email</h5><a href="#">fr@thebox.com</a>
                                </li>
                                <li>
                                    <h5>Phone Number</h5>
                                    <p>+01-77-44-48-34</p>
                                </li>
                                <li>
                                    <h5>Skype</h5>
                                    <p>TheBoxFr</p>
                                </li>
                                <li>
                                    <h5>Address</h5><address>46, Square de la Couronne<br />91120 PALAISEAU</address>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="widget-title">Italy</h3>
                            <ul class="contact-list">
                                <li>
                                    <h5>Email</h5><a href="#">it@thebox.com</a>
                                </li>
                                <li>
                                    <h5>Phone Number</h5>
                                    <p>+09451-52-19-40</p>
                                </li>
                                <li>
                                    <h5>Skype</h5>
                                    <p>TheBoxIt</p>
                                </li>
                                <li>
                                    <h5>Address</h5><address>Via Francesco Saverio Nitti, 28<br />Roma, 00156</address>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>

        <%= render 'footer' %>
    </div>
    <script src="assets/jquery.js"></script>
    <script src="assets/bootstrap.js"></script>
    <script src="assets/icheck.js"></script>
    <script src="assets/ionrangeslider.js"></script>
    <script src="assets/jqzoom.js"></script>
    <script src="assets/card-payment.js"></script>
    <script src="assets/owl-carousel.js"></script>
    <script src="assets/magnific.js"></script>
    <script src="assets/custom.js"></script>
    <script src="assets/switcher.js"></script>


    <script src="js/switcher.js"></script>
